@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')

* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
._container {
    width: 1300px;
}
.top_header {
    width: 100%;
    height: 40px;
    background-color: #474747;;
}
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
}
.nav {
}
.nav-header {
    display: flex;
    gap: 30px;
}
.main {
    margin: 0 auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.content_title {
    width: 600px;
}
.content_nav ul{
    display: flex;
    gap: 30px;
}
.content_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.content_block-item {
}
.item-title {
}
.item-subtitle {
}
.footer {
    background-color: #474747;
    height: 500px;
}
.footer_content {
    padding-top: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    display: flex;
    flex-direction: column;
}
.footer_image {
}