{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="recipes">
    <div class="content_title">
        <h1>Наши Рецепты</h1>
        <p>Что ж поделать, коль любим мы поесть...)))</p>
    </div>
    {% for recipe in recipes %}
    <div class="recipe__item">
        <img src="{{ recipe.image.url }}">
        <div class="recipe__item_text">
            <p class="recipe_title"><span>Название: </span>{{ recipe.title }}</p>
            <p class="recipe_subtitle"><span>Описание: </span>{{ recipe.description }}</p>
            <p class="recipe_time"><span>Время приготовления: </span>{{ recipe.cooking_time }}</p>
            <ul class="recipe_ingridients">
                <span>Ингредиенты: </span>
                {% for ingredient in recipe.ingridients.all %}
                <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
