<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Главная</title>
</head>
<body>
    <div class="wrapper">
        <div class="top_header"></div>
        <header class="header _container">
            <div class="logo">
                <img src="" alt="logo_img">
                <h3>Отличная Еда!</h3>
            </div>
            <nav class="nav">
                <ul class="nav-header">
                    <li><a href="">Главная</a></li>
                    <li><a href="">Рецепты</a></li>
                    <li><a href="">Добавить рецепт</a></li>
                    <li><a href="">Войти</a></li>
                </ul>
            </nav>
        </header>
        <main class="main _container">
            <div class="content">
                <div class="content_title">
                    <h1>Our Recipe</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="content_nav">
                    <ul>
                        <li><a href="">Все</a></li>
                        <li><a href="">Первые блюда</a></li>
                        <li><a href="">Вторые блюда</a></li>
                        <li><a href="">Напитки</a></li>
                        <li><a href="">Десерты</a></li>
                    </ul>
                </div>
                <div class="content_block">
                    <div class="content_block-item">
                        <img src="" alt="item-photo">
                        <h4 class="item-title"></h4>
                        <p class="item-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, distinctio!</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer_content _container">
                <div class="footer_logo">
                    <img src="" alt="logo_img">
                    <h3>Отличная Еда!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.

                    </p>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Рецепты</a></li>
                        <li><a href="">Добавить рецепт</a></li>
                    </ul>
                </nav>
                <div class="footer_image">
                    <img src="" alt="">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>