<div class="single">
    <div class="single_title">
        <h1>Our Recipe</h1>
    </div>
    <div class="single_img">
        <img src="" alt="photo">
    </div>
    <div class="single_text">
        <div class="single_text-description">
            <h3 class="description_title">Описание</h3>
            <p class="description-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, distinctio!</p>
        </div>
        <div class="single_text-steps">
            <h3 class="steps_title">Шаги приготовления</h3>
            <p class="steps_subtitle">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>