{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"
          href="{% static 'css/style.css' %}"
          rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="top_header"></div>
    <header class="header _container">
        <div class="logo">
            <img src="{% static '/img/logo.png' %}" alt="logo_img">
            <h3>Отличная Еда!</h3>
        </div>
        <nav class="nav">
            <ul class="nav-header">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'all' %}">Рецепты</a></li>
                <li><a href="{% url 'add' %}">Добавить рецепт</a></li>
                {% if user.is_authenticated %}
                <li class="last"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a
                        href="{% url 'users:register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="main _container">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer_content _container">
            <div class="footer_logo">
                <img src="{% static '/img/logo.png' %}" alt="logo_img">
                <h3>Отличная Еда!</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <nav class="footer_nav">
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'all' %}">Рецепты</a></li>
                    <li><a href="{% url 'add' %}">Добавить рецепт</a></li>
                </ul>
            </nav>
            <div class="footer_image">
                <img src="{% static 'img/footer.jpg' %}" alt="footer_photo">
            </div>
        </div>
    </footer>
</div>
</body>
</html>